language : cpp
compiler: gcc
sudo: false

env:
    - PATH=${TRAVIS_BUILD_DIR}/recipes:${TRAVIS_BUILD_DIR}/bin:${PATH}

matrix:
  include:
  - os: osx
    osx_image: xcode10.1
    script:
      - install-qt-online qt.qt5.5124.clang_64 && source qt-5.12.4.env && qmake -version && test "$(qmake -query QT_VERSION)" = "5.12.4"
      - find Qt
  - os: linux
    dist: bionic
    script:
      - install-qt-online qt.qt5.5124.gcc_64 && source qt-5.12.4.env && qmake -version && test "$(qmake -query QT_VERSION)" = "5.12.4"
      - find Qt
