language: cpp
compiler: gcc
sudo: required
dist: bionic
osx_image: xcode10.1

addons:
  apt:
    packages:
      - p7zip-full
  homebrew:
    update: true
    packages:
      - p7zip

env:
    - PATH=${TRAVIS_BUILD_DIR}/recipes:${TRAVIS_BUILD_DIR}/bin:${PATH}

matrix:
  include:
  - os: osx
    before_install:
      - brew update
    install:
      - QT_CI_PACKAGES=qt.qt5.5130.clang_64 install-qt 5.13.0 && source qt-5.13.0.env && qmake -version && test "$(qmake -query QT_VERSION)" = "5.13.0"
      - install-qtwebkit Qt/5.13.0
    script:
      - find Qt -name '*.framework'
      - find Qt -maxdepth 3
      - du -hs Qt
  - os: linux
    install:
      - QT_CI_PACKAGES=qt.qt5.5130.gcc_64 install-qt 5.13.0 && source qt-5.13.0.env && qmake -version && test "$(qmake -query QT_VERSION)" = "5.13.0"
      - install-qtwebkit Qt/5.13.0
    script:
      - find Qt -name '*.so.5.13.0'
      - find Qt -maxdepth 3
      - du -hs Qt
